<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Bina Bilgileri</strong>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Adres</label>
            <div class="col-md-9">
              <p class="form-control-static">Kemalpaşa Mahallesi 173. Sokak No:11</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Blok</label>
            <div class="col-md-9">
              <p class="form-control-static">B</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Daire Sayısı</label>
            <div class="col-md-9">
              <p class="form-control-static">67</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Ek Özellikler</label>
            <div class="col-md-9">
              <p class="form-control-static">Spor salonu</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Bina Sorumlusu</label>
            <div class="col-md-9">
              <p class="form-control-static">Ümit Bey</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Sorumlu Telefon Numarası</label>
            <div class="col-md-9">
              <p class="form-control-static">5425425542</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Asansör Sayısı</label>
            <div class="col-md-9">
              <p class="form-control-static">2</p>
            </div>
          </div>
          
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Kiracıları Göster</button>
          
        </form>
      </div>
      
    </div>
    
    
  
  
  </div><!--/.col-->
</div><!--/.row-->