<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Personel Bilgileri</strong>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">TC. Kimlik No.</label>
            <div class="col-md-9">
              <p class="form-control-static">12345678911</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Adı Soyadı</label>
            <div class="col-md-9">
              <p class="form-control-static">Ümit Bey</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Cep Telefonu</label>
            <div class="col-md-9">
              <p class="form-control-static">537 537 56 65</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Görevi</label>
            <div class="col-md-9">
              <p class="form-control-static">Bina Sorumlusu</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Sorumlu Bulunduğu Yer</label>
            <div class="col-md-9">
              <p class="form-control-static">B Blok</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">İşe Başlama Tarihi</label>
            <div class="col-md-9">
              <p class="form-control-static">01.06.2018</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Maaşı</label>
            <div class="col-md-9">
              <p class="form-control-static">10.000 TL</p>
            </div>
          </div>

          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Kimliği Göster</button>
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Sözleşmeyi Göster</button>
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> İzinler</button>
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Notlar</button>
          
          
        </form>
      </div>
      
    </div>
    
    
  
  
  </div><!--/.col-->
</div><!--/.row-->