<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Öğrenci Bilgileri</strong>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">TC. Kimlik No.</label>
            <div class="col-md-9">
              <p class="form-control-static">12345678911</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Adı Soyadı</label>
            <div class="col-md-9">
              <p class="form-control-static">Tunay Kınıcı</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Cep Telefonu</label>
            <div class="col-md-9">
              <p class="form-control-static">537 537 56 65</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">E-Mail</label>
            <div class="col-md-9">
              <p class="form-control-static">tunaykinici@gmail.com</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Blok - Daire</label>
            <div class="col-md-9">
              <p class="form-control-static">B - 44</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Kayıt Tarihi</label>
            <div class="col-md-9">
              <p class="form-control-static">01.06.2018</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">İl - İlçe</label>
            <div class="col-md-9">
              <p class="form-control-static">Ankara - Mamak</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Fakültesi</label>
            <div class="col-md-9">
              <p class="form-control-static">Bilgisayar ve Bilişim Bilimleri Fakültesi</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Bölümü</label>
            <div class="col-md-9">
              <p class="form-control-static">Bilgisayar Mühendisliği</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Sınıfı</label>
            <div class="col-md-9">
              <p class="form-control-static">4</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Veli Telefon No</label>
            <div class="col-md-9">
              <p class="form-control-static">5365365536</p>
            </div>
          </div>

          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Kimliği Göster</button>
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Sözleşmeyi Göster</button>
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Faturaları Göster</button>
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Kira Özeti</button>
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Aidat Özeti</button>


          
        </form>
      </div>
      
    </div>
    
    
  
  
  </div><!--/.col-->
</div><!--/.row-->