<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>Öğrenci Bilgileri</strong>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Daire No.</label>
            <div class="col-md-9">
              <p class="form-control-static">44</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Kiracı Adı:</label>
            <div class="col-md-9">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Tunay Kınıcı</button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Kat</label>
            <div class="col-md-9">
              <p class="form-control-static">2</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Daire Sözleşmesi</label>
            <div class="col-md-9">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Sözleşme</button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Yapılan Tadilatlar</label>
            <div class="col-md-9">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Tadilatlar</button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Faturalar</label>
            <div class="col-md-9">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Faturalar</button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Kira Özeti</label>
            <div class="col-md-9">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Kira Özeti</button>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Aidat Özeti</label>
            <div class="col-md-9">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Aidat Özeti</button>
            </div>
          </div>


          
        </form>
      </div>
      
    </div>
    
    
  
  
  </div><!--/.col-->
</div><!--/.row-->